@model IEnumerable<Tech_news.Models.Noticia>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de notícias</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <p>Filtrar por Data:</p>
    <div class="btn-group" role="group" aria-label="Presets de Filtro">
        <a asp-controller="Noticias" asp-action="FiltroHoje" class="btn btn-secondary">Hoje</a>
        <a asp-controller="Noticias" asp-action="FiltroOntem" class="btn btn-secondary">Ontem</a>
        <a asp-controller="Noticias" asp-action="Filtro7Dias" class="btn btn-secondary">Últimos 7 Dias</a>
        <a asp-controller="Noticias" asp-action="FiltroUltimoMes" class="btn btn-secondary">Último Mês</a>
        <a asp-controller="Noticias" asp-action="Index" class="btn btn-secondary">Todas</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPublicacao)
                </td>

                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
